* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
}

.navbar {
  height: 80px;
  background-color: rgb(81, 110, 113);
  font-size: 3.5rem;
  text-align: center;
  color: aliceblue;
}

main {
  min-height: calc(100vh - 80px - 120px);
  border: 5px dashed lightblue;
  max-width: 1200px;
  margin: 0 auto;
}

.footer {
  height: 120px;
  background-color: rgb(81, 110, 113);
  font-size: 3.5rem;
  text-align: center;
  color: aliceblue;
}
.products-section{
  display: flex;
  flex-wrap: wrap;
}
section {
  border: 2px dashed lightgreen;
  padding: 20px;
}
